<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>City navigation</title>
</head>
<body>
    <div class="header">
        <div><a target="_blank" href="historyofcity.html">history</a></div>
        <div><a target="_blank" href="timezones.html"></a>time zones</div>
        <div><a target="_blank" href="entertainmentinalmaty.html"></a>entertainment</div>
        <div><a target="_blank" href="natureofalmaty.html"></a>nature</div>
        <div><a target="_blank" href="ourguides.html"></a>guides</div>
    </div>
    
    <div class="main">
        <div class="image">
        <div class="begin">
            <h1>ALMATY</h1>
        <h2> formerly known as Alma-Ata,
        <br> is the largest city in Kazakhstan, with a population of about 2 million.
        <br> It was the capital of Kazakhstan from 1929 to 1997</h2>
        </div>
        <hr></hr>
        <div class="text">
            <span><br>Almaty is still the major commercial and cultural centre of Kazakhstan, as well as its most populous and most cosmopolitan city.<br>
                The city is located in the mountainous area of southern Kazakhstan near the border with Kyrgyzstan in the foothills of the Trans-Ili <br>
                Alatau at an elevation of 700–900 m (2,300–3,000 feet), where the Large and Small Almatinka rivers run into the plain.<br>
                <br>
                The city has been part of the UNESCO Creative Cities Network in the area of music since November 2017.<br>
                The city was the host for a 1978 international conference on Primary Health Care where the Alma Ata Declaration was adopted,<br>
                marking a paradigm shift in global public health.</span>
                <img src="css/almatygerb.png" width="250" height="250" alt="герб города Алматы">
        </div>
    </div>
    </div>
</body>
</html>