<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Flower Shop</title>
</head>
<body>
    <div class="header">
        <div>about us</div>
        <div>location</div>
        <div>adress</div>
        <div>price</div>
        <div>contact us</div>
    </div>

    <div class="main">
        <h1>beauty in simplicity</h1>
        <div style="width:600px;height:145px;border:1px solid rgb(200, 232, 245);"><br>"My soul is a basket of flowers<br>filled with the scent of your love." 
            <br><br> Feng Jicai, from the book "Flight of the Soul"</div>
    </div>
    <div class="button">
        <div>DIRECT</div>
    </div>
</body>
</html>